body {
  font-family: monospace;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #d0d0d0;
  padding: 4px 8px;
}

.good {
  background-color: lightgreen;
}

.bad {
  background-color: lightpink;
}

#warnings {
  color: red;
}

.btn {
  margin: 20px 0px;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: normal;
}

.active, .collapsible:hover {
  font-weight: bold;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.filters {
  width: 45%;
  display: inline-block;
}

.filter-container {
  display: flex;
}

#benchmarkCheckboxes {
  max-height: 175px;
  overflow: scroll;
}

#normalized-formula {
  visibility: hidden;
}

.cfg {
  max-height: 600px;
  display: block;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}

#after-load {
  display: none;
}

#on-error {
  display: none;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.summary-table {
  width: 100%;
  margin-bottom: 16px;
}

.summary-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.summary-table td,
.summary-table th {
  text-align: right;
  white-space: nowrap;
}

.summary-table .cell-text {
  text-align: left;
}
